<h3>● Projetos e Trabalhos de Especialização</h3>
<h5>● Projeto de Desenvolvimento de Jogos</h5>
<h5>● Site desenvolvido em HTML e CSS3 e aplicação em Spring Boot </h5>
<h5>● Desenvolvimento Mobile realizado em React Native</h5>
<h5>● Desenvolvimento de projeto em Angular</h5>
<h5>● Experiencia em Cisco Packet Tracer</h5>
<h5>● Mysql </h5>
<h5>● MongoDB </h5>

<hr>

<h3>Auto-Avaliação</h3>

<h5>Procuro ser um profissional dinâmico, apresentar total competência, flexibilidade e um bom relacionamento com o
  ambiente de trabalho, objetivando sempre adquirir experiencia em diferentes áreas de atuação, visando sempre a
  qualidade, benefício e resultado. Procuro sempre ouvir concelhos de profissionais mais experientes para entregar um
  melhor trabalho, contribuindo dessa forma para meu crescimento pessoal e profissional.</h5>